@import 'resets';
@import 'variables';
@import 'mixins';
body{ 
    font-family: roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    #add-user-info,#change-image,#search, #add, #back,#settings,#back-to-contacts {
        @include btn-round(50px);
       
    }

    #info-display{
        position: absolute;
        top: 50%;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
        width: 300px;
        color: $grey2;

        button{
            float: right;
        }
    }
    
    .wrapper{
        @include page-dimensions(850px);

        div.profile-image{ //this is for the image form
            width: 90%; 
            margin: 0 auto;
            margin-top: 80px;
            z-index: -2;
            #profile-picture{
                @include width-height(250px);
                border-radius: 125px;
                overflow: hidden;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                
            }

            .add-image{
                   @include width-height(auto);                   
                   overflow: hidden;
                   display: block;
                   margin: 0 auto;
                   opacity: 0;
            }
            .add-image + label{
                position: absolute;              
                left: 50%;
                transform: translate(50%, 150px);
                z-index: 5;
                @include btn-round(80px);
                box-sizing: border-box;

                i{
                    font-size: 30px;
                    box-sizing: border-box;
                    margin: 0 auto;
                    @include width-height(100%); 
                    text-align: center;
                    padding: 20px;
                }

            }

            

        }
        form#user-info{
            width: 90%;
            margin: 0 auto;
            height: 300px;
            box-shadow: $shadow1;      
            position: relative;
            top: 100px;
            z-index: 5;
            border-radius: 30px;  

            textarea{
                width: 90%;
                height: 80%;
                margin: 0 auto;
                display: block;
                border: solid $grey2 1px;
                border-radius: 30px;

            }

            button{
                @include btn-round(50px);
                float: right;
                transform: translate(-5px,0)
            }
        }
                
    }

     
        
        .panel{
            color: white;
            display: grid;
            grid-template-columns: fit-content(10%) fit-content(10%) 70% fit-content(10%);
            padding-top: 20px;
            margin: $center-box-horizontal;
            transform:translate(10px, 0%); 
            
           
            
            // #add{
            //     @include btn-round(50px, 50px);
            //     background-color: white;
            // }
            // #back{
            //     @include btn-round(50px,50px);
            //     background-color: white;
            // }
            
            h1.page-title{
                margin: $center-box-horizontal;
                text-align: center;
                color: $brown;
                transform: translate(0px, 10px);
            }
            
        }


        
        .contacts{
            width: 90%;
            margin: $center-box-horizontal;
            margin-top: 40px;
            color: black;
            .user-contact{
                display: grid;
                grid-template-columns: 15% auto;
                box-sizing: border-box;
                width: 95%;
                height: 70px;
                //box-shadow: $shadow2;
                margin: 10px auto;
                
                img{
                    @include width-height(50px);
                }
            }
            .user-info{
                border-bottom: solid grey 1px;
            }            
            
        }
        
    }
    
    div.add-contacts{
        @include page-dimensions(400px);
        button#search-back-to-contacts{
            @include btn-round(50px);
            background-color: white;
            position: absolute;
            top: 35px;
        }

        
        form{
            padding-top: 50px;
            .contact-search{
                margin: 0 auto;
                width: 80%;
                //background: turquoise;
                height: 40px;
                border-radius: 20px; 
                transition: 0.5s;
                border: solid $grey 2px;
                outline: none;
                padding-left: 20px;
                padding-top: 5px;
                box-sizing: border-box;
                
                &:hover{
                    box-shadow: rgba(0,0,0,0.16) 0px 2px 6px;
                }

                i{
                    color: $grey;
                }
            }
            input{
                border: none;
                width: 90%;
                box-sizing: border-box;
                outline: none;
                position: relative;
                bottom: 5px;
                margin-left: 10px;
            }  
        }

        ul.collection{
            margin: $center-box-horizontal;
            width: 80%;
            li{
                list-style-type: none;
                box-sizing: border-box;
                display: block;
                border-bottom: solid $grey 1px;
                height: 30px;
                padding-left: 20px;
                cursor: pointer;

            }
        }

    }
            #cover{
                position:fixed;
                top:0;
                left:0;
                background:rgba(0,0,0,0.6);
                width:100%;
                height:100%;
               
            }
    
            .popup-add-contact{
                box-sizing: border-box;
                height:500px;
                width:400px;
                margin:0 auto;
                position:relative;
                transform: translate(0, 50%);
                z-index:10;
                background: pink;
                border-radius: 50px;
                overflow: hidden;

               
                
                .contact-info{
                    height: 50%;
                    background: white;
                    transform: translate(0, 100%);

                    h1{
                        font-size: 30px;
                        font-weight: bold;
                        box-sizing: border-box;
                        margin-bottom: 20px;
                        margin-left: 20px;
                    }
                    p{
                        margin-bottom: 10px;
                        margin-left: 20px;
                    }
                    p.email{
                        font-size:20px;
                    }

                    p.info{
                        color: $grey2;

                    }
                }

                button{
                    @include btn-round(50px);
                    position: absolute;
                    left: 80%;
                    top: 45%;
                    z-index: 20;
                    background: yellow;
                    color: white;
                }
                img{
                    position: absolute;
                    width: 400px;
                    margin: 0 auto;
                    //transform: translateX(50%);
                }
              
            }
            

    .hide{
        display: none;  
    }
    .show{
        display: block;
    }
