@import 'variables';

@mixin btn-round($width, $height){
    width: $width;
    height: $height;
    border-radius: ($width / 2);
    border: none;
    box-shadow: $shadow2;
    box-sizing: border-box;
    margin: 5px;
    outline: none;
}

@mixin width-height($value){
    width: $value;
    height: $value;
}

@mixin page-dimensions(){
    width: 40%;
        margin: 40px auto ;
        box-sizing: border-box;
        height: 850px;
        box-shadow: $shadow1;
        border-radius: 50px;
}