<div class="add-contacts hide animated">
    <form action="">
        <div class="contact-search">
            <i class="material-icons">search</i>
            <input type="text">
        </div>
    </form>


    <ul class="collection">

    </ul>
<button id="back-to-contacts"></button>
</div>