<div class="hide popup-add-contact">
    <img src="assets/images/user-picture.jpeg" alt="">
    <button class="add"><i class="material-icons">add</i></button>

    <div class="contact-info">
        <h1 class="name">
            User Name
        </h1>
        <p class="email">Email@something.com</p>
        <p class="info">
            This user is a user who uses the platform which is supposed
            to be used. Do you understand?
        </p>
    </div>
</div>