<div class="hide settings wrapper animated">
    <div class="panel">
        <button id='back-to-contacts'><i class="material-icons">arrow_back</i></button>
        <button id='back-to-contacts'><i class="fas fa-info"></i></button>
        <h1 class='page-title'>Settings</h1>
        <button id='back-to-contacts'><i class="material-icons">delete</i></button>
    </div>

    <div class="profile-image">
        <img id="profile-picture" src="/assets//images/user-picture.jpeg" alt="">
        
        <form class="image" method="POST" action="/change-profile-picture" enctype="multipart/form-data">        
                <input class=" add-image" name="image" id="image" type="file" value="add">
                <label for="image"><i class="material-icons">create</i></label>         
        </form>
    </div> 

    <form class="hide" id="user-info">
    <textarea id="text-area" name="userInfo" cols="30" rows="10"> </textarea>

    <button id="submit-user-info"><i class="material-icons">create</i></button>
    </form>

    <div id="info-display">
        <h1>User Info</h1>

        <p id="current-info">This is the info about the user that you need to use to describe the user the way the user is supposed to be described
        </p>

        <button id="add-user-info"><i class="material-icons">
            create
        </i></button>
    </div>
</div>