<div class="user-contact animated fadeInUp delay-2s">
        <img src="assets/images/pp.png" alt="image is here" class="user-image">
        <div class="user-info">
            <h3>Username</h3>
            <p>profile about lorem ipsum dolor</p>
        </div>
    </div>