<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%include partials/import-header.ejs %>
    <title>Contacts</title>
</head>

<body id=<%= user.uid %>>
    <div class="show contacts-panel wrapper animated fadeIn delay-1s">
        <div class="panel">
            <button id='settings'><i class="material-icons">settings</i></button>
            <button id='search'><i class="material-icons">search</i></button>
            <h1 class='page-title'>Contacts</h1>
            <button id='add'><i class="material-icons">add</i></button>

        </div>

        <div class="contacts">         
            
        </div>
    </div>

   

    <%include partials/settings-panel.ejs%>
    <%include partials/add-contacts.ejs%>
    <%include partials/popup-add-contact.ejs%>



    <div class="hide" id="cover"></div>

</body>
<%include partials/libraries %>

</html>