<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%include partials/import-header.ejs %>
    <title>Contacts</title>
</head>

<body id=<%= user.uid %>>
    <div class="wrapper animated fadeIn delay-1s">
        <div class="panel">
            <a href="/signin"><button id='back'>Back</button></a>
            <button id='search'>Search</button>
            <h1 class='page-title'>Contacts</h1>
            <button id='add'>Add</button>
        </div>

        <div class="contacts">
            <% include partials/user-contact %>
            <% include partials/user-contact %>
            <% include partials/user-contact %>
            <% include partials/user-contact %>
            <% include partials/user-contact %>
            <% include partials/user-contact %>
            <% include partials/user-contact %>

        </div>
    </div>

    <div class="add-contacts hide animated">
        <form action="">
            <div class="contact-search">
                <i class="material-icons">search</i>
                <input type="text">
            </div>
        </form>


        <ul class="collection">

        </ul>

    </div>

    <div class="hide popup-add-contact">
        <img src="assets/images/user-picture.jpeg" alt="">
        <button class="add"><i class="material-icons">add</i></button>

        <div class="contact-info">
            <h1 class="name">
                User Name
            </h1>
            <p class="email">Email@something.com</p>
            <p class="info">
                This user is a user who uses the platform which is supposed
                to be used. Do you understand?
            </p>
        </div>
    </div>

    <div class="hide" id="cover"></div>

</body>
<%include partials/libraries %>

</html>