<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="assets/styles/css/main.css">
    <title>Sign In</title>
</head>
<body>
<div class="container">
    <div class="animated fadeIn">
        <h1 class="blue-text text-lighten-1 center"><img class="logo" src="assets/images/Logo.svg" alt="logo"></h1>
        
        <p class=" intro blue-text text-lighten-1 center">Welcome to Kode Chat</p>
        <p class="subIntro grey-text lighten-1 center">Team Communications for the 21st Century</p>
    </div>

    <div class="row">
        <form class="animated fadeInDown col s6 push-s3" action="" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password"  name="password" placeholder="Password" required>
            <button type="submit" class="light-blue accent-3 white-text btn waves-effect waves-light">Signin</button>
        </form>
    </div>
    <p id="error" style="color:red; text-align: center" ><%= error %> Please register with a unique id</p>
    <a href="signup" class="grey-text text-lighten-1 center">signup for a free account here</a>
</div>
</body>
<% include partials/libraries.ejs %>
</html>